.editor {
	background-color: #0e1924;
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.canvasBlock {
	display: flex;
	flex-grow: 1;
	background-color: transparent;
	margin-top: 75px;
	overflow: auto;
	box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.7);
}

.controlsBlock {
	background-color: #080e14;
	min-width: 20%;
	padding-left: 5px;
	box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.7);
}
